@import url("../../Fonts/stylesheet.css");

/* .table_container{
    font-family: "Tactic Round Med";
} */


.header_table_row{
    font-size: 24px;
    text-align: left;
}

.header_table_td{
    
    font-size: 16px

}

.tr_body{
    font-family: "Tactic Round Lgt";
}