@import url("../../Fonts/stylesheet.css");

.nav_container{
    padding: 16px;

    display: flex;
    justify-content: space-between;

}

/* .logo_container{
    
} */

.logo{
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.container_links{
    display: flex;
    gap: 2em;
    padding-right: 32px;
    align-items: center;
}

.active, .no_active{
    text-decoration: none;
    transition: .8;
    height: 24px;
    font-size: 16px;
}

.active, .no_active:hover{
    color: #000;
}

.active{
    font-family: "Tactic Round Bld";
    color: #000;
    border-bottom: 2px solid;
}

.no_active {
    color: #1313138e;
}